.page-container {
  padding: 0 1rem;
  width: 75%;
}

.skill-container {
  padding-bottom: 0.5rem;
  display: flex;
}

.skill-marker {
  align-self: center;
  background-color: #2caeba;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.project-link {
  text-decoration: none;
  color: hsl(184, 77%, 34%);
}

.contacts-container {
  display: flex;
}

.contact-title {
  color: hsl(184, 77%, 34%);
  width: 6rem;
  margin: 0.5rem;
}

.contact-value {
  margin: 0.5rem;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #2caeba;
  animation: spinner 0.6s linear infinite;
}
