.page-container {
  padding: 0 1rem;
  width: 75%;
}

.skill-container {
  padding-bottom: 0.5rem;
  display: flex;
  font-size: 20px;
}

.skill-marker {
  align-self: center;
  background-color: #2caeba;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.project-link {
  text-decoration: none;
  color: hsl(184, 77%, 34%);
}

.contacts-container {
  display: flex;
}

.contact-title {
  color: hsl(184, 77%, 34%);
  width: 6rem;
  margin: 0.5rem;
}

.contact-value {
  margin: 0.5rem;
}
